@mixin transition($val){
    -webkit-transition: all $val;
    -moz-transition: all $val;
    -ms-transition: all $val;
    -o-transition: all $val;
    transition: all $val;
}

$gold : #ffc583;
$black : #000000;

header{
  padding: 20px 0px;
}

#logo{
	display: inline-block;
  height: 100%;
  float: left;
  color: white;
}

.wrap-head{

  .btn-upload{
    margin-left: 5px;
    padding: 6px 20px;
    color: #000000;
    background: $gold;
    
    i{ margin-right: 10px; }
  }

  &__search{
    margin: 0 20px;

    button{
      background: $gold;
      color: $black;
      border: 1px solid $gold;
    }
  }

  &__account{
    margin-left: 15px;
    .btn-user{
      background: $gold;
      color: $black;
    }

    h2{
      font-size: 18px;
      color: $gold;
      margin: 0 0 0 10px;

      span{
        display:block;
        font-size: 10px;
      }
    }
  }
}

.no-pr{
  padding-right: 0;
}

.no-pl{
  padding-left: 0;
}

.no-mr{
  margin: 0;
}

.no-pd{
  padding: 0;
}

.space{
  height: 70px;
  width: 100%;
  background: transparent;
}
// ================== MENU ===================== //


#mainmenu{
  border-top: 1px solid $gold;
  border-bottom: 1px solid $gold;
  color: $gold;
  margin: 20px 0px;
  display: flex;
  width: 100%;
  padding: 0;

  li{
    list-style: none;
    padding: 0px 0px;
    margin: 0px 20px 0px 0px;
    letter-spacing: 0.5px;
    font-weight: bold;
    
    a{
      color: $gold;
      display: block;
      padding: 15px 15px;
      text-align: center;
      text-decoration: none;

      &:hover{
        background: $gold;
        transition: 0.7s;
        color: $black;
      }
    }
  }

  li.active{
    background: #f6989d;
    transition: 0.7s;
    color: #FAF4F4;
  }
}

.mobile-nav-icon {
  position: relative;
  right: 0;
  margin-top: 10px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}

#menu-btn {
	display: none;
	float: right;
	margin-top: 0px;
	width: 36px;
	height: 36px;
	padding: 6px;
	text-align: center;
  cursor: pointer;
  color: #ffffff;
}
#menu-btn.show:before {
	font-family: FontAwesome;
	content: "\f0c9";
	font-size: 24px;
}

#menu-btn.close:before{
	font-family: FontAwesome;
  content: "\f00d";
	font-size: 24px;
}
#menu-btn:hover {
	background: transparent;
}
#menu-btn:hover:before {
  color: #ffffff;
}

/* =================== VIDEO ===================== */
.wrap-videos{
  margin-top: 40px;

  &__title{
    position: relative;
    margin-bottom: 10px;
    color: $gold;

    h1{ display: inline-block; margin: 0; }
    p{ 
      position: absolute;
      right: 0;
      margin: 0;
    }
  }
}

.box-video{
  width: 250px;
  height: 150px;
  padding: 0 5px 5px 0;

  &__big{
    width: 500px;
    height: 300px;
    padding: 0 5px 5px 0;

    img, video{ 
      width: 100%; 
      max-height: 100%;
    }
  }

  img, video{
    width: 100%;
    max-height: 100%;
  }
}

.line{
  border: 2px solid $gold;
  margin: 10px 0px;
}

/* ============= ACTIVITY =============== */
.box-activity{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 10px;

  img{
    // float: left;
    width: 120px;
  }
  
  &__info{
    margin-left: 10px;
    color: $gold;

    h2{
      font-size: 17px;
      margin: 0;

      span{
        font-size: 12px;
      }
    }
    p{
      margin: 0;
      font-size: 14px;
    }
  }
}

/* ================ CHANNELS ================== */
.box-channels{
  margin-bottom: 10px;

  img{
    width: 100%;
  }
}

/* ================ FOOTER ================= */
.wrap-social{
  button{
    padding: 10px;
    background: #ffc583;
    color: #000000;
    border: none;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
}

.menu-footer{
  color: $gold;
  margin: 10px 0px;
  display: flex;
  width: 100%;
  padding: 0;

  li{
    list-style: none;
    padding: 0px 0px;
    margin: 0px 10px 0px 0px;
    letter-spacing: 0.5px;
    font-weight: bold;
    
    a{
      color: $gold;
      display: block;
      padding: 5px 5px 5px 0px;
      text-align: center;
      text-decoration: none;
      font-size: 12px;
    }
  }
}

footer p{
  font-size: 12px;
  margin: 0;
  color: $gold;
}

@media (min-width:1025px) and (max-width: 1200px) {
  .box-video,
  .box-video__big{
    
      width: 100%;
      height: auto;
    
  }
}

@media (min-width:769px) and (max-width: 1024px) {
  .box-video,
  .box-video__big{
      width: 100%;
      height: auto;
  }

  .wrap-videos{
    &__title{
      h1{
        font-size: 18px;
      }

      p{ font-size: 12px; }
    }
  }

  .box-activity{
    img{ width: 90px; }

    &__info{
      h2{ font-size: 15px; }
      p{ font-size: 11px; }
    }
  }
}

@media ( min-width: 769px) and (max-width:992px){
  #mainmenu{
    li{
      margin: 0 10px 0px 0px;

      a{
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .box-video,
  .box-video__big{
    
      width: 100%;
      height: auto;
    
  }

  .no-pr{ padding-right: 15px; }
  .no-pl{ padding-left: 15px; }

  #logo{
    float: none;
    height: auto;
  }

  .wrap-head{
    &__search{
      margin: 0 20px 0 0;
    }
  }

  #mainmenu{ display: none; }
  .mobile-nav-icon{ display: inline-block !important; }

  #menu-btn {
    display: block;
    position: relative;
    float: right;
  }

}

@media ( min-width: 320px) and (max-width:480px){
  .menu-footer{
    flex-wrap: wrap;
  }

  .wrap-videos{
    &__title{
      right: 10px;
    }
  }

  .wrap-head{
    margin-top: 10px;
    flex-direction: column !important;

    &__search{ margin: 0; }

    .btn-upload{ width: 100%; margin: 10px 0; }
  }

  header{
    text-align: center;
  }

}